# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependências
node_modules/
**/node_modules/

# Builds e Distribuição
dist/
dist-ssr/
*.local

# Variáveis de Ambiente 
.env
.env.*
!.env.example

# Configurações de Editores e Sistema Operacional
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?